{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>This proof-of-concept integrates the <a href="https://prototype-kit.service.gov.uk/">GOV.UK Prototype Kit</a>
      with <a href="https://www.sign-in.service.gov.uk/">GOV.UK One Login</a> using Auth0's
      <a href="https://github.com/auth0/express-openid-connect">express-openid-connect</a> npm library.</p>

    <p>The user experience is hardly Alton Towers: you log in, you get your profile. But see <code>/app/routes.js</code>
    to see how little configuration is required to get your Express prototype integrated as a Relying Party.</p>

    <p>See README.md in the project root for more information.</p>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Sign in",
      href: "/login",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
